@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-body;
}

section {
  @apply scroll-mt-28 md:scroll-mt-20
  /* match navbar height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General Margin */
.body_margin {
  margin-left: 2.063rem
    /* 33.008px */
  ;
  margin-right: 2.063rem
    /* 33.008px */
  ;
}

/* Why Choose Us 3 reasons flex format */
.reasons_flex {
  display: flex;
  flex-direction: column;
}

/* Why Choose Us 3 reasons gap with each other */
.reasons_space_between {
  @apply space-y-3 md:space-y-1 space-x-0 md:space-x-2;
}

/* Why Choose Us 3 reasons circle icon container style */
.reasons_icon_container {
  @apply bg-[#007EE6] rounded-full flex justify-center items-center;
}

.reasons_icon_size {
  @apply h-16 md:h-20 lg:h-[3.8rem] xl:h-[4rem] 2xl:h-[5rem];
}

/* Why Choose Us 3 reasons margin style */
.reasons_margin {
  @apply m-auto md:m-0;
}

/* What We Offer (Services Container) */
.services {
  @apply bg-white h-[28rem] md:h-[31rem] lg:h-[29rem] xl:h-[29rem] 2xl:h-[32rem] w-[18rem] md:w-[70%] lg:w-[33%] xl:w-[33%] 2xl:w-[27%] p-7 space-y-6 rounded-3xl md:rounded-2xl lg:rounded-xl xl:rounded-xl 2xl:rounded-3xl snap-start flex-shrink-0 content-center;
}

/* h5 title style */
.h5_title {
  @apply font-bold text-[1rem] md:text-[1.2rem] lg:text-xl;
}

/* Paragraph format in blue/dark bg */
.p_blue_bg {
  @apply text-white text-[0.87rem] md:text-[1rem] lg:text-[0.93rem] xl:text-[0.93rem] 2xl:lg:text-[1.5rem];
}

/* Paragraph format in white bg */
.p_white_bg {
  @apply text-[#004D8C] text-[0.87rem] md:text-[1rem] lg:text-[0.93rem] xl:text-[0.93rem] 2xl:lg:text-[1.5rem];
}

/* Mission, vision, and history container style */
.about_container_style {
  @apply bg-gradient-to-b from-[#004D8C] to-[#027FE5] hover:bg-gradient-to-b hover:from-[#027FE5] hover:to-[#004D8C] h-64 md:h-48 lg:h-44 xl:h-44 2xl:h-44 flex flex-col p-6 rounded-2xl md:rounded-xl justify-center;
}

/* Contact Form Styles */
.input_style {
  @apply bg-transparent border-[0.11rem] border-white text-white placeholder-white/70 border-white/40 rounded-md px-3 py-2 focus:outline-none focus:ring-0 focus:border-white;
}

.label_style {
  @apply p_blue_bg flex flex-col;
}

/* Gradient bg */
.gradient_bg {
  @apply bg-gradient-to-b from-[#004D8C] to-[#027FE5] hover:bg-gradient-to-b hover:from-[#1e77c0] hover:to-[#0072cf] transition-all ease-in-out cursor-pointer;
}

.socmed_container {
  @apply flex justify-center items-center w-[3.2rem] md:w-[3.7rem] h-[3.2rem] md:h-14 rounded-xl md:rounded-lg active:scale-95;
}

/* How can we help contact icons size and container */
.contact_icons {
  @apply w-[4.3rem] md:w-[4rem] lg:w-[4rem] h-14 md:h-14 lg:h-14;
}

.contact_icons_container {
  @apply flex flex-row space-y-3 md:space-y-1 space-x-3 md:space-x-2 items-center;
}

/* Footer icons */
.footer_icons {
  @apply flex justify-center items-center border border-white w-[4rem] md:w-[3rem] h-[3.8rem] md:h-11 rounded-lg;
}

/* Simple scale animation */
.scale_animation {
  @apply hover:scale-105 transition-all ease-in-out
}

@media (min-width: 768px) {
  .body_margin {
    margin-left: 5.2rem
      /* 119.008px */
    ;
    margin-right: 5.2rem
      /* 119.008px */
    ;
  }

  .reasons_flex {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .body_margin {
    margin-left: 7.438rem
      /* 119.008px */
    ;
    margin-right: 7.438rem
      /* 119.008px */
    ;
  }
}