@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General Margin */
.body_margin {
  margin-left: 2.063rem
    /* 33.008px */
  ;
  margin-right: 2.063rem
    /* 33.008px */
  ;
}

/* Why Choose Us 3 reasons flex format */
.reasons_flex {
  display: flex;
  flex-direction: column;
}

/* Why Choose Us 3 reasons gap with each other */
.reasons_space_between {
  @apply space-y-3 md:space-y-1 space-x-0 md:space-x-2;
}

/* Why Choose Us 3 reasons circle icon container style */
.reasons_icon_container {
  @apply bg-[#007EE6] rounded-full flex justify-center items-center;
}

/* Why Choose Us 3 reasons margin style */
.reasons_margin {
  @apply m-auto md:m-0;
}

/* h5 title style */
.h5_title {
  @apply font-bold text-[1.5rem] md:text-xl;
}

/* Paragraph format in blue/dark bg */
.p_blue_bg {
  @apply text-white text-xl md:text-[0.93rem];
}

/* Paragraph format in white bg */
.p_white_bg {
  @apply text-[#004D8C] text-xl md:text-[0.93rem];
}

/* Mission, vision, and history container style */
.about_container_style {
  @apply bg-gradient-to-b from-[#004D8C] to-[#027FE5] h-96 md:h-44 flex flex-col p-6 rounded-2xl md:rounded-xl justify-center;
}

/* Contact Form Styles */
.input_style {
  @apply bg-transparent border border-white rounded-md p-2;
}

.label_style {
  @apply p_blue_bg flex flex-col;
}


@media (min-width: 768px) {
  .body_margin {
    margin-left: 7.438rem
      /* 119.008px */
    ;
    margin-right: 7.438rem
      /* 119.008px */
    ;
  }

  .reasons_flex {
    display: flex;
    flex-direction: row;
  }
}